.ourStory-section {
    margin: 20vh auto;
    width: 90%;
    .description {
        h2 {
            font-size: 4.5rem;
            font-weight: 500;
            color: rgb(15, 15, 15);
            width: 50%;
        }
        p {
            font-size: 1.3rem;
            font-weight: 300;
            letter-spacing: 0.2px;
            word-spacing: 0.5px;
            line-height: calc(1.3rem * 1.4);
            margin-top: 1rem;
            width: 40%;
            color: rgb(15, 15, 15);
        }
        button {
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 0.25px;
            border: none;
            outline: none;
            background-color: transparent;
            padding: 0.25rem;
            margin-top: 2.75rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid #000;
            cursor: pointer;
            .arrow-icon {
                font-size: 1.9rem;
                margin-left: 0.5rem;
            }
        }
    }
    summary {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        div {
            display: flex;
            .image:first-of-type {
                margin-right: 7.5%;
            }
        }
        .image {
            &.top {
                height: 70vh;
                width: 27.5%;
                object-fit: cover;
            }
        }
    }
}